@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #f3e8ff;
  --background-dark: #1a1a1a;
  --foreground-light: #1a1a1a;
  --foreground-dark: #ffffff;
  --primary-light: #8b5cf6;
  --primary-dark: #a78bfa;
  --secondary-light: #6b46c1;
  --secondary-dark: #9f7aea;
}

body {
  @apply bg-background-light dark:bg-background-dark text-foreground-light dark:text-foreground-dark;
}